html {
  --tw_button_height: 28px;
  --tw_button_rounded_radius: 10px;
  --tw_button_round_size: 30px;

  --tw_button_success_color: white;
  --tw_button_success_background_color: forestgreen;
  --tw_button_success_color_hover: #04c000;

  --tw_button_warning_color: white;
  --tw_button_warning_background_color: orange;
  --tw_button_warning_color_hover: #ffc227;

  --tw_button_error_color: white;
  --tw_button_error_background_color: crimson;
  --tw_button_error_color_hover: #ff0000;

  --tw_button_default_background_color: rgb(240, 240, 240);

  --tw_button_disabled_background_color: #6d6d6d;
  --tw_button_disabled_color: white;
  --tw_button_disabled_border: none;
}

.tw_button{
  border: 1px solid black;
  cursor: pointer;
  padding: 0 4px;
  height: var(--tw_button_height);
  &.outline {
    background-color: transparent;
  }
  &.rounded {
    border-radius: var(--tw_button_rounded_radius);
  }
  &.round {
    width: var(--tw_button_round_size);
    height: var(--tw_button_round_size);
    border-radius: 50%;
    padding: 2px;
  }
  &:active{
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.35);
  }
}


.disabled {
  background-color: var(--tw_button_disabled_background_color) !important;
  pointer-events: none !important;
  color: var(--tw_button_disabled_color) !important;
  border: var(--tw_button_disabled_border) !important;
}

.success {
  color: var(--tw_button_success_color);
  background-color: var(--tw_button_success_background_color);
  border: 1px solid var(--tw_button_success_background_color);
  &:hover{
    background-color: var(--tw_button_success_color_hover);
    border: 1px solid var(--tw_button_success_color_hover);
  }
  &.outline {
    color: var(--tw_button_success_background_color);
    background-color: transparent;
    border: 1px solid var(--tw_button_success_background_color);
    &:hover{
      color: var(--tw_button_success_color_hover);
      border: 1px solid var(--tw_button_success_color_hover);
    }
  }
}

.warning {
  color: var(--tw_button_warning_color);
  background-color: var(--tw_button_warning_background_color);
  border: 1px solid var(--tw_button_warning_background_color);
  &:hover{
    background-color: var(--tw_button_warning_color_hover);
    border: 1px solid var(--tw_button_warning_color_hover);
  }
  &.outline {
    color: var(--tw_button_warning_background_color);
    background-color: transparent;
    border: 1px solid var(--tw_button_warning_background_color);
    &:hover{
      color: var(--tw_button_warning_color_hover);
      border: 1px solid var(--tw_button_warning_color_hover);
    }
  }
}

.error {
  color: var(--tw_button_error_color);
  background-color: var(--tw_button_error_background_color);
  border: 1px solid var(--tw_button_error_background_color);
  &:hover{
    background-color: var(--tw_button_error_color_hover);
    border: 1px solid var(--tw_button_error_color_hover);
  }
  &.outline {
    color: var(--tw_button_error_background_color);
    background-color: transparent;
    border: 1px solid var(--tw_button_error_background_color);
    &:hover{
      color: var(--tw_button_error_color_hover);
      border: 1px solid var(--tw_button_error_color_hover);
    }
  }
}