.tw_button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  outline: none;
  cursor: pointer;
  gap: 10px;
  &:active {
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
  }
}

.default_hover:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .8));
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -110%;
  transform: skewX(-45deg);
}
.default_hover:hover {
  background: #83bec5;
}
.default_hover:hover:before {
  left: 100%;
  transition: .75s ease-in-out;
}

.disabled {
  background-color: #6d6d6d !important;
  pointer-events: none !important;
  color: white !important;
  border: none !important;
}

.outline{
  background-color: transparent !important;
}

.round{
  border-radius: 50%;
}

.rounded{
  border-radius: 12px;
}

.success {
  height: 26px;
  width: 100px;
  border: 1px solid forestgreen;
  color: white;
  background-color: forestgreen;

  &:hover {
    border-color: lighten(forestgreen, 20%);
    background-color: lighten(forestgreen, 20%);
  }
}

.default {
  color: black !important;
  border: 1px solid black !important;
  padding: 5px 10px !important;
}

.error {
  height: 26px;
  width: 100px;
  color: white;
  border: 1px solid crimson;
  background-color: crimson;

  &:hover {
    border-color: lighten(crimson, 35%);
    background-color: lighten(crimson, 15%);
  }
}

.warn {
  height: 26px;
  width: 100px;
  color: white;
  border: 1px solid orange;
  background-color: orange;

  &:hover {
    border-color: lighten(orange, 25%);
    background-color: lighten(orange, 15%);
    color: lighten(orange, 25%);
  }
}