html {
  --tw_checkbox_border: 2px solid #0079bf;
  --tw_checkbox_size: 16px;
  --tw_checkbox_bgc: white;
  --tw_checkbox_checked_color: 2px solid #0079bf;
  --tw_checkbox_gap: 10px;
}

.tw_checkbox {
  &__wrapper {
    display: flex;
    gap: var(--tw_checkbox_gap);
    align-items: center;
    justify-content: center;
    & span {
      cursor: pointer;
    }
  }
  &__inner-wrapper {
    width: var(--tw_checkbox_size);
    height: var(--tw_checkbox_size);
    border: var(--tw_checkbox_border);
    position: relative;
    & input {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;
    }
  }
  &__check-symbol {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 7%;
    left: 35%;
    width: 4px;
    height: 65%;
    border: var(--tw_checkbox_checked_color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  &__hide {
    display: none;
  }
}