.tw_dropdown{
  position: relative;
  cursor: default;
  overflow: hidden;
}
.tw_dropdown-base{
  position: relative;
  background-color: white;
  z-index: 3;
  & input {
    width: calc(100% - 41px);
    height: 100%;
    padding: 5px 5px 5px 10px;
    outline: none;
    border: none;
    cursor: default;
  }
}

.tw_dropdown-icon {
  cursor: pointer;
  position: absolute;
  right: 2px;
  top:50%;
  transform: translateY(-60%);
  width: 36px;
  height: 14px;
}
.tw_dropdown-icon-left{
  transition: .5s;
  position: absolute;
  width: 18px;
  left: 2px;
  top: 5px;
  border-style: solid;
}
.tw_dropdown-icon-right{
  transition: .5s;
  position: absolute;
  width: 18px;
  right: 2px;
  top: 5px;
  border-style: solid;
}
.tw_dropdown-variants{
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.tw_dropdown-variants-item{
  width: 100%;
}
.tw_variant{
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tr_dropdown-enter-from{
  opacity: 0;
  transform: translateY(-100%);
}
.tr_dropdown-enter-active{
  transition: .5s;
}