html {
  --tw_dropdown_item_height: 28px;
  --tw_dropdown_variants_height: 28px;
  --tw_dropdown_arrow_width: 1px;
  --tw_dropdown_arrow_color: rgba(0, 0, 0, .7);
  --tw_dropdown_hoverColor: lightgray;
  --tw_dropdown_bgc: white;
  --tw_dropdown_font_size: 14px;
  --tw_dropdown_font_color: black;
  --tw_dropdown_text_align: start;
  --tw_dropdown_border_radius: 0px;
  --tw_dropdown_border: 1px solid black;
  --tw_dropdown_scroll_width: 5px
}
.tw_dropdown {
  z-index: 99;
  display: flex;
  justify-content: center;
  border: var(--tw_dropdown_border);
  height: var(--tw_dropdown_item_height);
  position: relative;
  cursor: default;
  font-size: var(--tw_dropdown_font_size);
  border-radius: var(--tw_dropdown_border_radius);
}

.tw_dropdown_input{
  height: var(--tw_dropdown_item_height);
  background-color: var(--tw_dropdown_bgc);
  font-size: var(--tw_dropdown_font_size);
  color: var(--tw_dropdown_font_color);
  text-align: var(--tw_dropdown_text_align);
  border-top-left-radius: var(--tw_dropdown_border_radius);
  border-top-right-radius: var(--tw_dropdown_border_radius);
  border-bottom-left-radius: var(--tw_dropdown_border_radius);
}

.tw_dropdown-base{
  border-radius: var(--tw_dropdown_border_radius);
  height: var(--tw_dropdown_item_height);
  position: relative;
  z-index: 99;
  background-color: var(--tw_dropdown_bgc);
  & input {
    width: calc(100% - 41px);
    height: 100%;
    padding: 5px 5px 5px 10px;
    outline: none;
    border: none;
    cursor: default;
  }
}

.tw_dropdown-icon {
  cursor: pointer;
  position: absolute;
  right: 2px;
  top:50%;
  transform: translateY(-60%);
  width: 36px;
  height: 14px;
}
.tw_dropdown-icon-left{
  transition: .5s;
  position: absolute;
  width: 18px;
  left: 2px;
  top: 5px;
  border-style: solid;
  border-width: var(--tw_dropdown_arrow_width);
  border-color: var(--tw_dropdown_arrow_color);
  background-color: var(--tw_dropdown_arrow_color);

}
.tw_dropdown-icon-right{
  transition: .5s;
  position: absolute;
  width: 18px;
  right: 2px;
  top: 5px;
  border-style: solid;
  border-width: var(--tw_dropdown_arrow_width);
  border-color: var(--tw_dropdown_arrow_color);
  background-color: var(--tw_dropdown_arrow_color);
}
.tw_dropdown-variants{
  overflow: hidden;
  height: var(--tw_dropdown_variants_height);
  margin-top: calc(var(--tw_dropdown_item_height) - 3px);
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 99;
}
.tw_dropdown-variants-item{
  &::-webkit-scrollbar {
    width: var(--tw_dropdown_scroll_width);
    border: 1px solid rgba(0,0,0, .2);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    height: 15px;
    background-color: rgba(0,0,0, .2);
  }
  border-bottom: var(--tw_dropdown_border);
  border-left: var(--tw_dropdown_border);
  border-right: var(--tw_dropdown_border);
  border-bottom-left-radius: var(--tw_dropdown_border_radius);
  border-bottom-right-radius: var(--tw_dropdown_border_radius);
  width: 100%;
  overflow: auto;
  background-color: var(--tw_dropdown_bgc);
  height: var(--tw_dropdown_variants_height);
}
.tw_variant{
  width: 100%;
  height: var(--tw_dropdown_item_height);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  justify-content: var(--tw_dropdown_text_align);
  color: var(--tw_dropdown_font_color);
  &:hover {
    background-color: var(--tw_dropdown_hoverColor);
  }
}
.tr_dropdown-enter-from{
  opacity: 0;
  transform: translateY(-100%);
}
.tr_dropdown-enter-active{
  transition: .5s;
}

