.wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vertical {
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.input{
  outline: none;
  border: 1px solid transparent;
  padding: 0 2px;
}
.w100 {
  width: 100%;
}