:root {
  --tw_dropdown_multi_hoverColor: lightgray;
}

.tw_multi_dropdown{
  position: relative;
  cursor: default;
  z-index: 99;
}
.tw_multi_dropdown-base{
  height: 100%;
  position: relative;
  background-color: white;
  z-index: 3;
  overflow: auto;
  & input {
    width: calc(100% - 41px);
    height: 100%;
    padding: 5px 5px 5px 10px;
    outline: none;
    border: none;
    cursor: default;
  }
}
.tw_multi_dropdown_input{
  border: 1px solid orange
}
.sub_variants{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -100.5%;
  width: 100%;
}
.tw_multi_variant {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: start;
  cursor: pointer;
  background-color: white;
  &:hover{
    background-color: var(--tw_dropdown_multi_hoverColor);
  }
}

.transition_container {
  display: flex;
  position: relative;
  align-items: start
}
.tw_variant_multi {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  &:hover{
    background-color: var(--tw_dropdown_multi_hoverColor);
  }
}
.variant_span {
  position: relative;
  width: calc(100% - 10px);
  overflow: hidden;
}
.selectedP {
  background-color: var(--tw_dropdown_multi_hoverColor);
}
.tr_multi_dropdown-enter-from, .tr_multi_dropdown-leave-to {
  opacity: 0;
}
.tr_multi_dropdown-enter-active, .tr_multi_dropdown-leave-active{
  transition: 0.25s
}
.tw_multi_dropdown-icon {
  cursor: pointer;
  position: absolute;
  top:50%;
  transform: translateY(-60%);
  right: 0;
  width: 36px;
  height: 14px;
}
.tw_multi_dropdown-icon-left{
  position: absolute;
  width: 12px;
  right: 0;
  top: 2px;
  border-style: solid;
  transform: rotate(35deg);
}
.tw_multi_dropdown-icon-right{
  position: absolute;
  width: 12px;
  right: 0;
  bottom: 3px;
  border-style: solid;
  transform: rotate(-35deg);
}