html {
  --tw_dropdown_multi_border: 1px solid white;
  --tw_dropdown_multi_items_height: 44px;
  --tw_dropdown_multi_bgc: white;
  --tw_dropdown_multi_color: #121212;
  --tw_dropdown_multi_hover_color: rgba(18,18,18, .1);
  --tw_dropdown_multi_items_padding: 5px;
  --tw_dropdown_multi_text_align: start;
  --tw_dropdown_multi_arrow_color: #121212;
}


.tw_dropdown_multi {
  position: relative;
  background-color: var(--tw_dropdown_multi_bgc);

  &__title {
    height: 100%;
    cursor: pointer;
    position: relative;
    border: var(--tw_dropdown_multi_border);
    padding: var(--tw_dropdown_multi_items_padding) 35px var(--tw_dropdown_multi_items_padding) var(--tw_dropdown_multi_items_padding);
  }

  &__value {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: var(--tw_dropdown_multi_color);
    overflow: hidden;
    display: flex;
    text-align: var(--tw_dropdown_multi_text_align);
    cursor: pointer;
  }
  &__variants{
    width: 100%;
    position: absolute;
    animation: twDropdownShow .4s linear;
    border-left: var(--tw_dropdown_multi_border);
    border-right: var(--tw_dropdown_multi_border);
    border-bottom: var(--tw_dropdown_multi_border);
    background-color: var(--tw_dropdown_multi_bgc);
  }
  &__first-title {
    width: 100%;
    display: flex;
    align-items: start;
    & span {
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0;
      color: var(--tw_dropdown_multi_color);
      padding: var(--tw_dropdown_multi_items_padding);
      justify-content: var(--tw_dropdown_multi_text_align);
      &:hover {
        background-color: var(--tw_dropdown_multi_hover_color);
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    right: -100%;
    display: flex;
    align-items: start;
  }
}
.tw_dropdown_multi_last_title {
  margin: 0;
  width: 100%;
  padding: 0;
  background-color: var(--tw_dropdown_multi_bgc);
  & li {
    width: 100%;
    list-style-type: none;
    margin: 0;
    cursor: pointer;
    padding: var(--tw_dropdown_multi_items_padding);
    color: var(--tw_dropdown_multi_color);
    display: flex;
    align-items: center;
    justify-content: var(--tw_dropdown_multi_text_align);
    &:hover {
      background-color: var(--tw_dropdown_multi_hover_color);
    }
  }
}