:root {
  --tw_dropdown_multi_hoverColor: lightgray;
}

.tw_multi_dropdown{
  position: relative;
  cursor: default;
}
.sub_variants{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -100.5%;
  width: 100%;
}
.tw_multi_variant {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: start;
  cursor: pointer;
  background-color: white;
  &:hover{
    background-color: var(--tw_dropdown_multi_hoverColor);
  }
}

.transition_container {
  display: flex;
  position: relative;
  align-items: start
}
.tw_variant_multi {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  &:hover{
    background-color: var(--tw_dropdown_multi_hoverColor);
  }
}
.variant_span {
  width: calc(100% - 10px);
  overflow: hidden;
}
.selectedP {
  background-color: var(--tw_dropdown_multi_hoverColor);
}