.tw_multi_dropdown{
  position: relative;
  cursor: default;
}
.sub_variants{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -100.5%;
}
.tw_multi_variant {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
}
.variant_span{
  width: 100%;
  overflow: hidden;
}
.transition_container {
  display: flex;
  position: relative;
  align-items: start
}