html {
  --tw_paginator_pages_border_color: black;
  --tw_paginator_pages_border_width: 1px;
  --tw_paginator_pages_active_border_color: darkorange;
  --tw_paginator_pages_active_border_width: 2px;
  --tw_paginator_pages_border_radius: 0px;
  --tw_paginator_pages_color: black;
  --tw_paginator_pages_width: 26px;
  --tw_paginator_height: 20px;
  --tw_paginator_pages_gap: 2px;

  --tw_paginator_input_border_width: 2px;
  --tw_paginator_input_width: 44px;
  --tw_paginator_input_color: black;
  --tw_paginator_input_bgc: transparent;
  --tw_paginator_input_border_radius: 0px;

  --tw_paginator_buttons_border_color: black;
  --tw_paginator_buttons_border_width: 1px;
  --tw_paginator_buttons_color: black;
  --tw_paginator_buttons_bgc: #f0f0f0;
  --tw_paginator_buttons_padding: 1px 2px;

  --tw_paginator_label_color: black;
  --tw_paginator_label_font_size: 14px;
  --tw_paginator_label_font_family: sans-serif;
}

.tw_paginator {
  display: flex;
  align-items: center;
  gap: 5px;
  height: var(--tw_paginator_height);
  &__pre {
    display: flex;
    align-items: end;
    cursor: default;
  }
}
.tw_pg-buttons {
  display: flex;
  gap: var(--tw_paginator_pages_gap);
  &__item {
    width: var(--tw_paginator_pages_width);
    height: var(--tw_paginator_height);
    position: relative;
    & span {
      color: var(--tw_paginator_pages_color);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: var(--tw_paginator_pages_width);
      height: 100%;
      border-color: var(--tw_paginator_pages_border_color);
      border-width: var(--tw_paginator_pages_border_width);
      border-style: solid;
      border-radius: var(--tw_paginator_pages_border_radius);
    }
  }
}
.tw_pg-active {
  border-color: var(--tw_paginator_pages_active_border_color) !important;
  border-width: var(--tw_paginator_pages_active_border_width) !important;
  border-style: solid !important;
}
.tw_pg-hide {
  display: none;
}
.tw_go_to {
  display: flex;
  gap: 5px;
  align-items: center;
  height: var(--tw_paginator_height);
  & label {
    color: var(--tw_paginator_label_color);
    font-size: var(--tw_paginator_label_font_size);
    font-family: var(--tw_paginator_label_font_family);
  }
  &__input {
    outline: none;
    color: var(--tw_paginator_input_color);
    border-color: var(--tw_paginator_pages_border_color);
    border-width: var(--tw_paginator_input_border_width);
    border-style: solid;
    border-radius: var(--tw_paginator_input_border_radius);
    padding: 2px;
    height: 100%;
    width: var(--tw_paginator_input_width);
    background-color: var(--tw_paginator_input_bgc);
    text-align: center;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    &:hover, :focus {
      appearance: none;
      -moz-appearance: textfield;
    }
  }
}
.tw_paginator__control-button {
  border-color: var(--tw_paginator_buttons_border_color);
  border-width: var(--tw_paginator_buttons_border_width);
  border-style: solid;
  background-color: var(--tw_paginator_buttons_bgc);
  cursor:pointer;
  padding: var(--tw_paginator_buttons_padding);
  height: 100%;
  color: var(--tw_paginator_buttons_color);
}