html {
  --tw_radio_border: 1px solid #999;
  --tw_radio_color: #121212;
  --tw_radio_bgc: white;
  --tw_radio_bgc_checked: #ffe0a6;
  --tw_radio_item_gap: 10px;
  --tw_radio_item_width: 40px;
  --tw_radio_item_height: 25px;
  --tw_radio_item_padding: 4px;
}


.tw_radio {
  display: flex;
  overflow: hidden;
  &__item {
    display: inline-block;
    background-color: var(--tw_radio_bgc);
    gap: var(--tw_radio_item_gap);
    float: left;
  }
  &__checked {
    background-color: var(--tw_radio_bgc_checked) !important;
  }
}

.tw_radio input[type=radio] {
  display: none;
}
.tw_radio label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: var(--tw_radio_item_width);
  height: var(--tw_radio_item_height);
  border: var(--tw_radio_border);
  user-select: none;
  color: var(--tw_radio_color);
}

.tw_radio__last-child {
  border-right: var(--tw_radio_border) !important;
}

.tw_radio label:hover {
  color: #666;
}

/* Disabled */
.tw_radio input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}
