html {
  --tw_radio_border: 1px solid #999;
  --tw_radio_border_radius: 12px;
  --tw_radio_color: #121212;
  --tw_radio_bgc: white;
  --tw_radio_item_gap: 10px;
  --tw_radio_item_width: 40px;
  --tw_radio_item_height: 25px;
  --tw_radio_item_padding: 4px;
  --tw_radio_bgc_checked: #ffe0a6;
  --tw_radio_hover_color: rgba(0,0,0, .3);
}


.tw_radio {
  display: flex;
  overflow: hidden;
  background-color: transparent;
  &__item {
    display: inline-block;
    background-color: var(--tw_radio_bgc);
    gap: var(--tw_radio_item_gap);
    float: left;
  }
  &__checked {
    background-color: var(--tw_radio_bgc_checked) !important;
  }
}

.tw_radio input[type=radio] {
  display: none;
}
.tw_radio label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: var(--tw_radio_item_width);
  height: var(--tw_radio_item_height);
  border: var(--tw_radio_border);
  user-select: none;
  color: var(--tw_radio_color);
  &:hover {
    color: var(--tw_radio_hover_color);
  }
}


/* Disabled */
.tw_radio input[type=radio]:disabled + label {
  background: #efefef !important;
  color: #666 !important;
  pointer-events: none;
}
