.html {
  --fdfdf: 1px solid red;
  --border-right: 1px solid red;
}


.tw_radio {
  display: flex;
  overflow: hidden;
  &__item {
    display: inline-block;
    gap: 10px;
    float: left;
  }
  &__checked {
    background: #ffe0a6;
  }
}

.tw_radio input[type=radio] {
  display: none;
}
.tw_radio label {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-right: none;
  user-select: none;
  color: #121212;
}

.tw_radio .tw_radio__item:first-child label {
  border-radius: 6px 0 0 6px;
}

.tw_radio__last-child {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #999 !important;
}

.tw_radio label:hover {
  color: #666;
}

/* Disabled */
.tw_radio input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}
