$primeYellow: rgb(212, 190, 50);
$primeGreen:  #66cc03;
$tableBGOdd: rgba(237, 255, 253, .56);
$hoverNoTransparent: rgb(95, 131, 199);
$tableBorderColor: #73d2e5;
$tableTRHoverColor: rgba(43,211,237,0.2);
$primeHeaderBackground: #3b4550;

.global-table{
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  cursor: default;
  & th{
    text-align: center;
    cursor: default;
    @media (min-width: 2550px) and (aspect-ratio: 16 / 9){
      font-size: 30px;
    }
  }
  & td{
    text-align: center;
    @media (min-width: 2550px) and (aspect-ratio: 16 / 9){
      font-size: 30px;
    }
  }
  & .odd{
    background-color: $tableBGOdd !important;
  }
  & tbody tr:hover{
    background-color: $tableTRHoverColor !important;
  }
  &.disabled {
    &  tbody tr:hover{
      background: transparent;
      &.odd {
        background-color: $tableBGOdd;
      }
    }

  }
}
.selected{
  background-color: $tableTRHoverColor !important;
}
.table_no_data {
  &:hover {
    background-color: transparent;
    cursor: default;
  }

  td {
    text-align: left;
    padding: 10px 5px;
  }
}

.td_align_left {
  & td {
    text-align: left;
  }
}

.td_align_right {
  & td {
    text-align: right;
  }
}

.justify_center {
  justify-content: center;
}

.margin_auto {
  margin: 0 auto;
}

.red_when_sub_zero {
  color: red !important;
}